.DS_Store
/Python-100-Days-master
/Python-Core-50-Courses-master

/.venv
/.cursor
/FlyCode/flappybird/__pycache__
/FlyCode/ship/__pycache__
/FlyCode/ship/component/__pycache__
/GamePlantsVsZombies
/.gamevenv
/stickman_battle/__pycache__
/ragdoll-hit/__pycache__
*.pyc
*.pyc
ragdoll-hit/__pycache__/config.cpython-313.pyc
